<!DOCTYPE html>
<html>
<head>
  <title>RoutingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about_us">About Us</a></li>
        <li><a href="/faqs">FAQS</a></li>
        <li><a href="/terms">Terms</a></li>
      </ul>

    </nav>
  </header>
<%= yield %>

</body>
</html>
