<!doctype html>
<html>
<head>
  <title>The stock quote generator</title>
  <link rel="stylesheet" href="/styles.css" />
  <script src="/jquery-1.11.0.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="/application.js"></script>
</head>
<body>
  <%= yield %>
  <p id="updatemessage" class="hidden">Updating...</p>
  <form action="/" method="POST">
    <label for="symbol_input">Stock Symbol</label>
    <input type="text" id="symbol_input" name="symbol" placeholder="eg. AAPL" />
    <input type="submit" value="Query" />
  </form>
</body>
</html>
