<header id="header">
  <h1>GA Todo</h1>
  <input id="new-todo" placeholder="What needs to be done?" type="text">
</header>

<ul id="todo-list">
  
  
<!--   <li class="completed">
    <input class="toggle" type="checkbox" data-id="32" checked>
    <label>three</label>
    <button class="destroy" data-id="32"></button>
  </li>
  <li class="">
    <input class="toggle" type="checkbox" data-id="28">
    <label>one </label>
    <button class="destroy" data-id="28"></button>
  </li>  -->


</ul>


